*{
    margin: 0;
    padding: 0;
}
body{
    flex-direction: column;
    /*margin-top: 70px!important;*/
    /*background-color: #c2c2c226!important;*/
    background: url("/static/kuanpin.jpeg") no-repeat center center fixed!important;
    background-size: 100% 100%!important;
}
ul{
    list-style-type: none!important;
}
ul.navbar-right {
    margin-right: 0;
}
span.logout-skip {
    text-align: center;
    position: absolute;
    font-size: 6rem
    margin-top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer {
    text-align: center;
    background-color: #0e1113;
    padding: 1.5em;
    font-size: 16px;
    color: azure;
}
footer span img {
    vertical-align: text-bottom !important;
}
div.page-not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div.page-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#register_container div.panel {
    margin-top: 8em;
}
div#login_container div.panel {
    margin-top: 8em;
}
div#forget_container div.panel {
    margin-top: 8em;
}
div#panel_info {
    margin-top: 30%;
}
div#panel_info div.panel-heading {
    text-align: center;
}
div#panel_info div.panel-body>ul>li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;
    text-indent: 20px;
    position: relative;
}
div#panel_info div.panel-body>ul>li>a {
    float: right;
    padding-right: 2em;
}