{% load staticfiles %}
{% load hosts %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta id="keywords" name="keywords" content="非马梦衢的博客网站">
    <meta id="description" name="description" content="分享 Python 全栈开发、爬虫、数据分析等相关的技术文章，热点资源，全栈程序员的成长之路。">

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    {% block custom_css %}{% endblock custom_css %}

    <script src="{% static 'jquery-1.12.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'highcharts.js' %}"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">非马梦衢的博客</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}">
                        <a href="{% url 'home' %}">
                            <span class="glyphicon glyphicon-home"></span>&nbsp;首页
                        </a>
                    </li>
                    <li class="{% block nav_blog_active %}{% endblock %}">
                        <a href="{% url 'blog:blog_list' %}">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;博客
                        </a>
                    </li>
                    {% if user.is_staff or user.is_superuser %}
                        <li>
                            <a href="/admin/blog/blog/add/">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;新建
                            </a>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-link"></span>&nbsp;相关链接 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.cnblogs.com/">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;cnblog
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://github.com/">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;Github
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://pypi.org/">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;PyPi
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://docs.djangoproject.com/">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;Django教程
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://www.python.org/">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;Python教程
                            </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'blog:rss' %}">
                            <span class="fa fa-rss"></span>&nbsp;RSS
                        </a>
                    </li>
                    <li>
                        <a href="{% host_url 'qrcode_home' host 'tools' %}">
                            <span class="fa fa-balance-scale"></span>&nbsp;Qrcode
                        </a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li class="{% block nav_login_active %}{% endblock %}">
                            <a href="{% url 'user:login' %}?from={{ request.get_full_path }}">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;登录
                            </a>
                        </li>
                        <li class="{% block nav_register_active %}{% endblock %}">
                            <a href="{% url 'user:register' %}?from={{ request.get_full_path }}">
                                <span class="glyphicon glyphicon-pushpin"></span>&nbsp;注册
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="{% url 'user:register' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                您好,
                                {% if user.has_nickname %}
                                    {{ user.get_nickname }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user:user_info' %}">
                                        <span class="glyphicon glyphicon-user"></span>&nbsp;个人信息
                                    </a>
                                </li>
                                {% if user.is_staff or user.is_superuser %}
                                    <li>
                                        <a href="{% url 'admin:index' %}">
                                            <span class="glyphicon glyphicon-cog"></span>&nbsp;后台管理
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'home' %}api/v1/">
                                            <span class="glyphicon glyphicon-leaf"></span>&nbsp;Rest API
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'user:change_password' %}">
                                        <span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'user:logout' %}?from={{ request.get_full_path }}">
                                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                <!-- 搜索功能框 -->
                <div class="navbar-form navbar-right">
                    <input id="search_keywords" type="text" class="form-control" data-value="blog" value="" placeholder="请输入搜索关键词">
                    <button id="jsSearchBtn" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>

    {% block content %}{% endblock content %}
    <!-- 未登录模态框弹出 -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <!-- form表单提交 -->
                <form id="login_modal_form" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                    </div>

                    <div class="modal-body">
                            <!-- 去除用户名和密码后面的冒号 -->
                            {% for field in login_modal_form %}
                                <label for="{{ field_id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            {% endfor %}
                                <span id="login_modal_tip" class="text-danger"></span>
                            {{ form.as_p }}
                            {% csrf_token %}
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">登录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    {% csrf_token %}
                </form>
                <!-- form表单提交 -->
            </div>
        </div>
    </div>
    <!--返回顶部-->
    <div class="fixed-top">
        <a id="btn_top" class="gotop" title="返回顶部"></a>
    </div>

    <footer class="fixed-bottom">
        <div class="container-fluid">
            <span>
                Welcome to visit my personal blog. Copyright ©
                <a href="{% url 'home' %}">非马梦衢</a>
                个人开发,仅供交流
                <img src="{% static 'icp.png' %}" alt="icp" width="18" height="20">
                <a href="http://www.miibeian.gov.cn/">豫ICP备18044504号</a>
            </span>
        </div>
    </footer>
    <script type="text/javascript">
        $(function(){
          function footerPosition(){
              $("footer").removeClass("fixed-bottom");
              var contentHeight = document.body.scrollHeight,//网页正文全文高度
                  winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
              if(!(contentHeight > winHeight)){
                  //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                  $("footer").addClass("fixed-bottom");
              } else {
                  $("footer").removeClass("fixed-bottom");
              }
          }
          footerPosition();
          $(window).resize(footerPosition);
        });

        //=====================模态框ajax代码=====================
        $('#login_modal_form').submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url 'user:login_for_modal' %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                async: true,
                success: function (data) {
                    if(data['status']=='SUCCESS'){
                        window.location.reload();
                    }else{
                        $('login_modal_tip').text('用户名或密码不正确');
                    }
                }
            });
        });

        //======================顶部搜索栏搜索方法=======================
        function search_click(){
            var keywords = $('#search_keywords').val(),
                request_url = "/blog/?keywords="+keywords;
            if(keywords == ""){
                return
            }
            window.location.href = request_url
        }
        $('#jsSearchBtn').on('click',function(){
            search_click()
        });
        // ======================搜索框绑定回车键=====================
        $('#search_keywords').bind('keypress', function (event) {
            if (event.keyCode == '13') {
                $('#jsSearchBtn').click();
            }
        });

        // ===================返回顶部js代码======================
        // onload事件
        window.onload = function () {
            // 获取id元素
            var obtn = document.getElementById("btn_top");
            var isTop = true;
            var timer = null;
            // 获取页面可视高度
            var clientHeight = document.documentElement.clientHeight||document.body.clientHeight;

            // onscroll滚动条滚动时触发
            window.onscroll = function () {
                // 在滚动的时候添加判断
                var topH = document.documentElement.scrollTop||document.body.scrollTop;
                if(topH > clientHeight) {
                    obtn.style.display = "block";
                }else {
                    obtn.style.display = "none";
                }
            }

            // 按钮点击时触发
            obtn.onclick = function () {
                // 设置定时器：setInternal会不停地调用函数，直到clearInterval被调用或者窗口被关闭
                timer = setInterval(function () {
                    // 获取滚动条距离顶部的高度
                    var topH = document.documentElement.scrollTop||document.body.scrollTop;
                    // 设置滚动速度
                    var stepLength = Math.ceil(topH/6);
                    document.documentElement.scrollTop=document.body.scrollTop=topH-stepLength;
                    isTop = true;
                    // 判断滚动条是否为0，并触发clearInterval函数
                    if(topH == 0) {
                        clearInterval(timer);
                    }
                }, 30);
            }
        }

    </script>

{% block custom_js %}{% endblock custom_js %}

</body>
</html>