<!DOCTYPE html>
{% load comment_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ blog_title }}编辑</title>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>
<body>
    <form action="{% url 'blog:blog_edit' blog.id %}" method="post">
        <input type="hidden" name = "post_id" value="{{ post_id | default:'0'}}"/>
            <label>
                <h4 style="font-weight: bold">标题</h4>
                <input type="text" name="title" style="width: 950px;font-family: '微软雅黑 Light';" value="{{ blog.title }}"/>
            </label>
            <br/>
            <label>
                <h4 style="font-weight: bold">博文</h4>
            </label>
            {{ form.content }}
            <br/>
        <button type="submit">保存发布</button>
        {% csrf_token %}
    </form>
</body>
</html>