{% extends 'base.html' %}
{% load static %}

{% block title %}
    非马梦衢的个人博客
{% endblock title %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock custom_css %}


{% block nav_home_active %}active{% endblock %}


{% block content %}
    <div class="body-header">
        <h3 class="home-content">
            <p>行亦禅，坐亦禅，落雪亦是禅；</p>
            <p>心无挂碍，自得菩提！</p>
        </h3>
    </div>
    <div id="home_container1" class="container">
        <div class="content-item">
            <h3 class="content-item-title">
                <span class="glyphicon glyphicon-pencil"></span>
                <span style="font-size: 28px; font-weight: bolder">博客</span>
                &nbsp;&nbsp;
                <span>共有{{ blog_nums }}篇博客</span>
                <span><a href="{% url 'blog:blog_list' %}">more>>></a></span>
            </h3>
            <div class="raw">
                <div class="col-sm-4">
                    <div class="home-category">
                        <h4 class="home-category-title">博客分类</h4>

                        <ul class="list">
                            {% for blog_type in blog_types %}
                                <li class="panel-detail">
                                    <a href="{% url 'blog:blogs_type' blog_type.id %}" title="{{ blog_type.type_name }}">
                                        {{ blog_type.type_name }}
                                        <span style="float: right;">({{ blog_type.blog_set.count }}篇)</span>
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="font-size: 18px">
                                <span class="glyphicon glyphicon-signal"></span>&nbsp;趋势图
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="font-size: 18px">
                                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;关于本站
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" style="font-size: 18px">
                                <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;敬请期待
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <!-- 图表容器 DOM -->
                            <div id="container"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            
                            <p>
                                {{ about_site.site_desc }}
                            </p>
                            
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <p>{{ expectation.expect_desc }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="raw"></div>
        </div>
    </div>
    <div id="home_container2" class="container">
        <div class="content-item">
            <h3 class="content-item-title">
                <span class="glyphicon glyphicon-fire"></span>
                <span style="font-size: 28px; font-weight: bolder">热读榜</span>
            </h3>

            <div class="raw">
                <div class="col-sm-4 col-sm-offset-1 hot-data">
                    <div class="home-block">
                        <!-- 今天24小时内的热门博客 -->
                        <h4 class="home-block-title">
                            <span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;最新博客发表
                        </h4>
                        <ul class="list">
                            {% for new_blog in new_blogs %}
                                <li>
                                    <a href="{% url 'blog:blog_detail' new_blog.id %}"
                                       target="_blank" title="{{ new_blog.title }}">
                                        {{ new_blog.title|truncatechars:28 }}
                                    </a>
                                    {% comment %} <span>({{ new_blog.get_blog_readnum }})</span> {% endcomment %}
                                </li>
                            {% empty %}
                                <li>暂时没有新博客发表</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-offset-1 hot-data">
                    <div class="home-block">
                        <!-- 今天24小时内的热门博客 -->
                        <h4 class="home-block-title">
                            <span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;热门排行
                        </h4>
                        <ul class="list">
                            {% for blog, blog_readnum in blog_dict.items %}
                                <li>
                                    <a href="{% url 'blog:blog_detail' blog.id %}"
                                       target="_blank" title="{{ blog.title }}">
                                        {{ blog.title|truncatechars:28 }}
                                    </a>
                                    {% comment %} <span>({{ blog_readnum }})</span> {% endcomment %}
                                </li>
                            {% empty %}
                                <li>今天暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="raw">
                <div class="col-sm-4 hot-data">
                    <div class="home-block">
                        <!-- 今天24小时内的热门博客 -->
                        <h4 class="home-block-title">
                            <span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;今天阅读热榜
                        </h4>
                        <ul class="list">
                            {% for hot_data in today_HotData %}
                                <li>
                                    <a href="{% url 'blog:blog_detail' hot_data.object_id %}"
                                       target="_blank" title="{{ hot_data.content_object.title }}">
                                        {{ hot_data.content_object.title|truncatechars:28 }}
                                    </a>
                                    {% comment %} <span>({{ hot_data.read_num }})</span> {% endcomment %}
                                </li>
                            {% empty %}
                                <li>今天暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 hot-data">
                    <div class="home-block">
                        <!-- 昨天24小时内的热门博客 -->
                        <h4 class="home-block-title">
                            <span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;昨日阅读热榜
                        </h4>
                        <ul class="list">
                            {% for hot_data in yesterday_HotData %}
                                <li>
                                    <a href="{% url 'blog:blog_detail' hot_data.object_id %}"
                                       target="_blank" title="{{ hot_data.content_object.title }}">
                                        {{ hot_data.content_object.title|truncatechars:28 }}
                                    </a>
                                    {% comment %} <span>({{ hot_data.read_num }})</span> {% endcomment %}
                                </li>
                            {% empty %}
                                <li>昨天暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 hot-data">
                    <div class="home-block">
                        <!-- 过去7天的热门博客 -->
                        <h4 class="home-block-title">
                            <span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;7天阅读热榜
                        </h4>
                        <ul class="list">
                            {% for hot_blog in seven_day_HotBlog %}
                                <li>
                                    <a href="{% url 'blog:blog_detail' hot_blog.id %}"
                                       target="_blank" title="{{ hot_blog.title }}">
                                        {{ hot_blog.title|truncatechars:28 }}
                                    </a>
                                    {% comment %} <span>({{ hot_blog.read_num_sum }})</span> {% endcomment %}
                                </li>
                            {% empty %}
                                <li>过去7日暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: {
                backgroundColor: 'rgba(255, 255, 255, 0.3)',
                type: 'line'                        //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                          // 标题
            },
            xAxis: {                                // x 轴分类：日期
                categories: {{ dates|safe }},
                tickmarkPlacement: 'on',
                title: {
                    text: '过去7天阅读量统计'
                }
            },
            plotOptions: {                          // 数据标签
                line: {
                    dataLabels: {enabled: true}
                }
            },
            yAxis: {
                title: {text: null},
                labels: {enabled: false},
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '全天阅读量',                  // 数据列名
                data: {{ read_nums }},              // 数据：阅读数
            }],
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock content %}
