{% extends 'base.html' %}

{% block title %}
    非马梦衢的网站|注册
{% endblock title %}

{% block nav_register_active %}active{% endblock %}

{% block content %}
    <div id="register_container" class="container">
        <div class="raw">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                {% if not user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                注册
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="POST">
                                <!-- 去除用户名和密码后面的冒号 -->
                                {% for field in register_form %}
                                    <label for="{{ field_id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="text-danger">{{ register_form.non_field_errors }}</span>
                                <!-- 清除html浮动 -->
                                <div class="clearfix"></div>
                                <button id="send_code" class="btn btn-primary pull-left">发送验证码</button>
                                <input type="submit" name="提交" value="注册" class="btn btn-primary pull-right" >
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                {% else %}
                    <span class="logout-skip">已登录,跳转到首页...<br>若无法自动跳转,<a href="{% url 'home' %}">请点击</a></span>
                    <script type="text/javascript">
                        // 设置延时函数,延时3s跳转
                        setTimeout(function(){window.location.href='{% url 'home' %}'},3000);
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}


{% block custom_js %}
    <script type="text/javascript">
        $("#send_code").click(function () {
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('邮箱不能为空!');
                return false;
            }
            // 发送验证码
            $.ajax({
                type: "GET",
                url: "{% url 'user:bind_email_code' %}",
                data: {
                    'email': email,
                    'send_for': 'register_code'
                },
                cache: false,
                success: function (data) {
                    if(data['status']=='ERROR'){
                        alert(data['status']);
                    }
                }
            });

            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock custom_js %}