{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    非马梦衢的网站|个人信息
{% endblock title %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% endblock custom_css %}

{% block nav_login_active %}active{% endblock %}

{% block content %}
    <div id="user_info_container" class="container">
        <div class="raw">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                {% if user.is_authenticated %}
                    
                    <div id="panel_info" class="panel panel-info">
                        <div class="panel-heading">
                            <span style="color: black">个人信息</span>
                        </div>
                        <div class="panel-body">
                            <ul class="blog-types">
                                <li>用户名： {{ user.username }}&nbsp;<a href="{% url 'user:change_password' %}">[修改密码]</a></li>
                                <li>昵称： {{ user.get_nickname }}&nbsp;<a href="{% url 'user:change_nickname' %}?from={{ request.get_full_path }}">[修改昵称]</a></li>
                                <li>邮箱： {% if user.email %}{{ user.email }}{% else %}未绑定&nbsp;<a href="{% url 'user:bind_email' %}">[绑定邮箱]</a>{% endif %}</li>
                                <li>上一次登录的时间： {{ user.last_login|date:'Y-m-d G:i:s' }}</li>
                            </ul>
                        </div>
                    </div>

                {% else %}
                    <span class="logout-skip">未登录,跳转到首页...<br>若无法自动跳转,<a href="{% url 'home' %}">请点击</a></span>
                    <script type="text/javascript">
                        // 设置延时函数,延时3s跳转
                        setTimeout(function(){window.location.href='{% url 'home' %}'},3000);
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
